.svg-container {
    /*height: 150px;*/
    /*margin-top: -50px;*/
}

.card-sub > .title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /*line-height: 2px;*/
    color: #1A1A1A;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.card-sub > .number {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    /*line-height: 27px;*/
    text-align: center;
    margin-top: 5px;
    color: #FAFAFA;
}

.blue-card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
}

.blue-card-header > .image {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 100px;
    padding-top: 20px;
}

.blue-card-header > .image > img {
    width: 173px;
    object-fit: contain;
    height: auto;
}

.blue-card-header > .title-row {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    color: #F0EBD8;
    padding: 15px;
}

.blue-card-header > .title-row > div{
    flex-grow: 1;
}

.blue-card-header > .title-row > img {
    padding: 10px;
}

.card-sub > .downarrow {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.card-sub > .downarrow > .box {
    display: block;
    width: 12px;
    height: 12px;
}

.card-sub > .downarrow > .box > img {
    justify-content: center;
    object-fit: contain;
    width: 12px;
}

.card-sub > .downarrow > .box > .tooltip {
    position: relative;
    z-index: 100;
    width: 150px;
    height: 45px;
    border-radius: 20px;
    padding: 15px 15px 10px 10px;
    text-align: center;
    left: -80px;
    top: -100px;
    background-color: rgba(116,141,172,0.8);
    display: none;
}

.card-sub > .downarrow > .box:hover > .tooltip {
    display: block;
}